{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load tags %} 
{% block content %}


<div class="container">
  <form method="POST">
  {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {% for field in form %}
    <div class="col-lg-12 mt-3">
      <label class="form-label text-gray-900 mb-0">{{ field.label_tag }}</label>
      {{field | add_class:"form-control"}} {{ field.errors }} 
      {% if field.help_text %}
      <p class="help small">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
    {% endfor %} {% comment %} {{form}} {% endcomment %}
    </fieldset>
    <div class="form-group">
      <button href="" class="btn btn-outline-info" type="submit">
        Sign In
      </button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">Need an Account?
      <a class="ml-2" href="{% url 'register' %}">Create an Account</a>
    </small>
  </div>
</div>


{% endblock content %}