{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load tags %} 
{% block content %}

<div class="container">
  <div class="row">
    {% for note in notes %}
    <div class="col-md-3">
      <a href="{% url 'notes-details' note.id %}">
        <div class="card">
          <div class="card-header">{{note.title}}</div>
          <div class="card-body">{{note.description|slice:"0:100"}}</div>
          <div class="card-footer mt-auto">
            <a href="{% url 'delete-note' note.id %}"><i class="fa fa-trash fa-2x"></i></a>
          </div>
        </div>
      </a>
    </div>

    {% endfor %}
    <br /><br />
  </div>
</div>
<br /><br />
<div class="container">
  <form method="POST">

  {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create Notes</legend>
    </fieldset>
    {% comment %} {% for field in form %} {{ field | add_class:"form-control" }}
    {% endfor %} {% endcomment %} 
    {% for field in form %}
    <div class="col-lg-12 mt-3">
      <label class="form-label text-gray-900 mb-0">{{ field.label_tag }}</label>
      {{field | add_class:"form-control"}} {{ field.errors }} 
      {% if field.help_text %}
      <p class="help small">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
    {% endfor %}

    <div class="form-group">
      <button href="" class="form-control my-3 btn btn-outline-info" type="submit">Create</button>
    </div>
  </form>
</div>

{% endblock content %}
